//- this is the home page
//- currently a list of articles, lacking excerpts
//- in future will be full articles (or excerpts)

include short-article

.container#article-list
  section.stripe-column#article
  - for (var i = 0; i < list.length; i++) 
    +shortArticle(list[i].name, list[i].url, list[i].html, list[i].datestring, list[i].tags)
