//- this is the home page
//- currently a list of articles, lacking excerpts
//- in future will be full articles (or excerpts)


#article-list.container.home
  section#article
    .page-header
      h1 Recent Articles 
  - for (var i = 0; i < list.length; i++) 
    .row
      .span2.datefield
        code=list[i].datestring
      .span14.cLeft
        h3
          a(href=list[i].url) #{list[i].name} 
    .row
      .offset2.span14.cLeft
        #content!=list[i].excerpt          