//- layout for a "tag page", i.e. all posts for a given tag

include short-article

//- tag at top of page 
.container.content.stripe#article-list
  section.stripe-column#article
    .page-header
      .tag 
        h1 #{meta.headline} 

//- list of articles so tagged
.container#article-list
  section.stripe-column#article
  - for (var i = 0; i < list.length; i++) 
    +shortArticle(list[i].name, list[i].url, list[i].html, list[i].datestring, list[i].tags)
    