.container.error
   section#article
   .stripe
      .stripe-column
         h1 something does not appear
         small #{url}
   //- p.img
      //- img(src="http://semu.mp/screenshots/404.png")
      