// remember, if you change a theme less file, paste your changes into custom.less too (I KNOW!)

@menu-color: #2a3a59;
@menu-fg-color: #f2f5ea;
@menu-accent-color: #1e2d40;

@main-bg-color: #f2f5ea;
@main-fg-color: #0f0b09;
@main-heading-color: #524;
@main-link-color: #408457;
@main-vlink-color: #659105;
