
/*
TODO:
- responsive/mobile
*/ 

/* 
fonts I was considering
https://www.google.com/fonts#UsePlace:use/Collection:Noto+Sans:400,700,400italic,700italic|Domine:400,700|Inder|Gilda+Display|Della+Respira|Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic|Maven+Pro:400,500,900,700|Lusitana:400,700|Merriweather:400,900italic,900,700italic,700,400italic,300italic,300|Karla:400,400italic,700,700italic|Bangers 
*/
//@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Domine:400,700|Inder|Gilda+Display|Della+Respira|Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic|Maven+Pro:400,500,900,700|Lusitana:400,700|Merriweather:400,900italic,900,700italic,700,400italic,300italic,300|Karla:400,400italic,700,700italic|Bangers);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Roboto:400,400italic,700italic,700);

/** GLOBAL **/

/* standard font */
html {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 15px;
}

/* body takes up full browser window so stripes are wide */
body {
  margin: 0;
}

/* default background grey */
body {
  background-color: #38342F;
}

/* hide .hide (i.e. login form etc) */
.hide {
   display: none;
}

/* colours */
.menu.stripe, .menu a { 
   background-color: black;
   color: white;
}
a {
   color: #300;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h1 a, 
h2 a,
h3 a, 
h4 a,
h5 a {
  text-decoration: none;
}

/** LAYOUT **/

.stripe {
   width: 100%;
   margin: 0;
   padding: 0;
}

.stripe-column {
   max-width: 800px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
}

.stripe-column>* {
  margin-left: 6px;
  margin-right: 6px;
}

/** MENU **/ 

/* menu font */
.menu {
   font-family: 'Noto Sans', sans-serif;
   font-weight: 700;
   font-size: 40px;
   text-transform: uppercase;
   font-style: italic;
}

/* no underline for menu links */
.menu a {
   text-decoration: none;
}

/* menu things are not full width */
.menu .stripe-column * {
   display: inline-block;
}

.menu .primary a {
   padding-right: 40px;
}
.menu .secondary a {
   padding-left: 40px;
}
/* secondary on right */
.menu .secondary {
   float: right;
}

/** mobile support **/

@media (max-width: 800px) {
  .menu {
    font-size: 30px;
  }
  .menu .primary a {
    padding-right: 30px;
  }
  .menu .secondary a {
    padding-left: 30px;
  }
}

@media (max-width: 400px) {
  .menu {
    font-size: 18px;
  }
  .menu .primary a {
    padding-right: 18px;
  }
  .menu .secondary a {
    padding-left: 18px;
  }
}

/** POSTS **/

/* post images */ 
.stripe.content img {
   width: 40%;
}
.stripe.content img:nth-of-type(odd) {
   float: right;
   padding: 12px;
   padding-right: 0;
   padding-top: 0;
}
.stripe.content img:nth-of-type(even) {
   float: left;
   padding: 12px;
   padding-left: 0;
   padding-top: 0;
}

/* normalise margin-before etc crap from webkit */
.stripe.content h1 {
   margin: 0;
   padding-bottom: 8px;
}

/* magic trick for allowing div to grow for floated stuff (e.g. images) */
.stripe.content {
   overflow: hidden;
}

.stripe.content {
   padding-top: 12px;
   padding-bottom: 20px;
   color: white;
}
.stripe.content a {
   color: white;
}

.stripe.content:nth-child(3n+0) {
  background-color: #245;
}
.stripe.content:nth-child(3n+1) {
  background-color: #026101;
}
.stripe.content:nth-child(3n+2) {
  background-color: #AE3C02;
}

/* hide edity stuff for now */
#articlePublished, #articleTags {
   display: none;
}

/** POST TAGS **/

.tags {
  text-align: center;
}

.tag {
  display: inline-block;
  margin: 2px;
}
.tag a, .tag h1 {
  background-color: black;
  color: white;
  border-radius: 2px;
  text-decoration: none;
  padding: 2px 8px;
  line-height: 170%
}

/*
//---- MISC LEFTOVER STUFF FROM BEFORE! 
#tag-cloud span {
  padding: 4px 12px;
  max-height: 38px;  
}

.cloud {
  width: 940px;
  text-align: center;
  margin: 0 auto;
}

.cloud ul {
  list-style-type: none;
  text-align: center;  
  width: 940px;  
  margin: 0;
  padding: 0;
}

.cloud ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;  
  height: 38px;
}
.footer {
  margin-top: 44px;
}

.github {
  margin-top: 4px;
}

.github .primary {
  margin-right: 8px;
}

// Disqus
#dsq-subscribe, .dsq-trackback-url, #dsq-account-dropdown, .dsq-reply h3, .dsq-comment-actions li:first-child { display: none; }
.dsq-comment-message { padding-left: 12px; }
#dsq-sort-select { 
font-size: 12px !important;
margin-top: 7px !important;
}

// node blog forms
#loginstatus, #composestatus {
  margin-right: 8px;
  font-weight: bold;
  display: none;
    padding-top: 5px;

}

#composestatus.failed, #loginstatus.failed {
  color: red;
}

#composestatus.done, #loginstatus.done {
  color: green;
}

.loader img {
}

.loading-body p {
  text-align: center;
}

.loading-body img {
  margin-top: 12px;
}
*/

// (my newer) blog specific stuff

#articleSlug {
  display:none;
}

#articleTags {
  display:none;
  width:auto;
  margin-left: 12px;
  min-width: 400px;
}

#articlePublished {
  display:none;
}

[contenteditable] {
  background-color: rgba(200, 200, 180, 0.4);
  border-radius: 2px;
  border-style: dotted;
  border-width: 1px;
  border-color: gray;
}