
/*
TODO:
- responsive/mobile
*/ 

/* 
fonts I was considering
https://www.google.com/fonts#UsePlace:use/Collection:Noto+Sans:400,700,400italic,700italic|Domine:400,700|Inder|Gilda+Display|Della+Respira|Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic|Maven+Pro:400,500,900,700|Lusitana:400,700|Merriweather:400,900italic,900,700italic,700,400italic,300italic,300|Karla:400,400italic,700,700italic|Bangers 
*/
//@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Domine:400,700|Inder|Gilda+Display|Della+Respira|Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic|Maven+Pro:400,500,900,700|Lusitana:400,700|Merriweather:400,900italic,900,700italic,700,400italic,300italic,300|Karla:400,400italic,700,700italic|Bangers);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Roboto:400,400italic,700italic,700);

/* colour variables */

@backgroundBlack: #23231F;

/** GLOBAL **/

/* standard font */
html {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 15px;
}

/* body takes up full browser window so stripes are wide */
body {
  margin: 0;
}

/* default background grey */
body {
  background-color: @backgroundBlack;
}

/* hide .hide (i.e. login form etc) */
.hide {
   display: none;
}

/* colours */
.menu.stripe, .menu a { 
   background-color: #201C22;
   color: white;
}
a {
   color: #300;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h1 a, 
h2 a,
h3 a, 
h4 a,
h5 a {
  text-decoration: none;
}

/** LAYOUT **/

.stripe {
   width: 100%;
   margin: 0;
   padding: 0;
}

.stripe-column {
   max-width: 800px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
}

.stripe-column>* {
  margin-left: 6px;
  margin-right: 6px;
}

.pull-right {
  float: right;
}

/** MENU **/ 

/* menu font */
.menu {
   font-family: 'Noto Sans', sans-serif;
   font-weight: 700;
   font-size: 40px;
   text-transform: uppercase;
   font-style: italic;
}

.menu {
  border-bottom: 2px solid #BEBCAA;
}

/* no underline for menu links */
.menu a {
  text-decoration: none;
  height: 44px;
  width: 44px;
  margin-top: 12px;
  background-image: url('../img/cbr_menu_icons.svg');
  background-size: 1200%; /* there are 12 slots in my sprite */ 
}

/* menu things are not full width */
.menu .stripe-column * {
   display: inline-block;
}

.menu .primary a {
  margin-right: 40px;
}
.menu .secondary a {
   margin-left: 40px;
}
/* secondary on right */
.menu .secondary {
   float: right;
}

// menu icons
.menuIcon.home {
  background-position-x: 0%;
}
.menuIcon.tags {
  background-position-x: -200%;
}
.menuIcon.releases {
  background-position-x: -400%;
}
.menuIcon.compose {
  background-position-x: -800%;
}
.menuIcon.login, .menuIcon.logout {
  background-position-x: -600%;
}


/** MODALS **/

.modal {
  width: 100%;
  position: fixed;
  top: 0;
  color: white;

  /* menu font */
  .modal-header {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
  }

  .modal-close {
    float: right;
    color: white;
    text-decoration: none;
  }

  .modal-wrapper {
    margin: auto;
    width: 500px;
    padding: 4px 22px 22px;
    border-radius: 0px 0px 8px 8px;
    background-color: #5e5c5b;
  }

  .modal-body {
    font-size: 26px;
  }

  .modal-body fieldset {
    border-style: none;
    margin: 0;
    padding: 0;
  }

  .modal-body .clearfix {
    margin: 10px 0px;
  }

  .modal-body label {
    display: inline-block;
    width: 150px;
  }

  .modal-body .input {
    display: inline-block;
    width: 346px;
  }

  .modal-body .input input {
    width: 330px;
    padding: 0 10px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    border-radius: 2px;

  }

  .modal-footer {
    height: 62px;
  }
  .modal-footer button {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
    margin: 4px 0;
    border-radius: 2px;
    border-style: none;
    background: #181419;
    color: white;
    padding: 1px 18px;
  }

}

/** POSTS **/

/* post images */ 
.stripe.content img {
   width: 40%;
}
.stripe.content img:nth-of-type(odd) {
   float: right;
   padding: 12px;
   padding-right: 0;
   padding-top: 0;
}
.stripe.content img:nth-of-type(even) {
   float: left;
   padding: 12px;
   padding-left: 0;
   padding-top: 0;
}

/* post embeds */ 
.stripe.content iframe {
  border: none;
  overflow: hidden;
  display: block;
  width: 80%;
  max-width: 100%;
  margin: auto;
}


/* normalise margin-before etc crap from webkit */
.stripe.content h1 {
   margin: 0;
   padding-bottom: 8px;
}

/* magic trick for allowing div to grow for floated stuff (e.g. images) */
.stripe.content {
   overflow: hidden;
}

.stripe.content {
   padding-top: 12px;
   padding-bottom: 20px;
   color: white;
}
.stripe.content a {
   color: white;
}

.stripe.content:nth-child(3n+1) {
  background-color: #AE3C02; // red
}
.stripe.content:nth-child(3n+2) {
  background-color: #026101; // green
}
.stripe.content:nth-child(3n+0) {
  background-color: #245; // blue
}

/* hide edity stuff for now */
#articlePublished, #articleTags {
   display: none;
}

/** MOBILE SUPPORT **/

@media (max-width: 800px) {
  .menu a {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 500px) {
  .stripe.content img {
    width: 100%;
  }
}

/** POST TAGS **/

.tags {
  text-align: center;
}

.tag {
  display: inline-block;
  margin: 2px;
}
.tag a, .tag h1 {
  background-color: black;
  color: white;
  border-radius: 2px;
  text-decoration: none;
  padding: 2px 8px;
  line-height: 170%
}

/** NAV **/

.page-navigation {
  margin: 2px;
}
.page-navigation a {
  font-size: 25px;
}
.page-navigation a {
  background-color: black;
  color: white;
  border-radius: 2px;
  text-decoration: none;
  padding: 2px 8px;
  line-height: 170%
}

.prev-page {
  float: left;
}
.next-page {
  float: right;
}

// (my newer) blog specific stuff

#articleSlug {
  display:none;
}

#articleTags {
  display:none;
  width:auto;
  margin-left: 12px;
  min-width: 400px;
}

#articlePublished {
  display:none;
}

[contenteditable] {
  background-color: rgba(200, 200, 180, 0.4);
  border-radius: 2px;
  border-style: dotted;
  border-width: 1px;
  border-color: gray;
}